@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
@import url("https://fonts.googleapis.com/css?family=Poppins:400");


#root {
  width: 100%;
  margin: 0;
  padding: 0 0 2rem 0;
  box-sizing: border-box; 
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background-color: whitesmoke;
}
