

.itemList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 4rem;
    max-width: 1200px;
  }
  
  .item {
    flex: 0 1 300px;
  }
  